* {
    box-sizing: border-box;
    margin: 0;
  }
  

.contact{
    height: 400px;
}
.wrap{
    font-size: 20px;
    color: black;
    margin: 10px;
}
.heading{
    background: slategrey;
}
.name{
    margin-left: 200px;
}
.personal{
    font-size: 18px;
    margin-top: 15px;
}
.navbar{
    background-color: slategrey;
    height: 20px;
    text-align: center;
}
.info{
    margin-top: 7px;
}
.container{
    background-image: url(blue-abstract.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 980px){
.heading{
    width: 110%;
}
.name{
    margin-left: 20px;
}
}
@media screen and (max-width: 768px){
    .heading{
        width: 110%;
    }
    .name{
        margin-left: 20px;
    }
}

@media screen and (max-width: 640px){
    .heading{
        width: 110%;
    }
    .name{
        margin-left: 20px;
    }
}